[submodule "TabAgentServer"]
	path = TabAgentServer
	url = https://github.com/ocentra/TabAgentServer.git
[submodule "TabAgentDist"]
	path = TabAgentDist
	url = https://github.com/ocentra/TabAgentDist.git
